bin
fajlnev_kum.dat
fajlnev_hist.dat
fájlnév
hist.dat
kum.dat
photo1c1280x720_hist.dat
u.dat
.*
*_new.dat
*_hist_16.dat
*_hist_256.dat
*_hist_256_u.dat
*_kum_eredeti.dat
*_kum_uj.dat
*_uj_ertekek.dat

